.sub-menu {
	@include clean-list;
}

@include desk-min {
	.hamburger {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
	.header-main {
		z-index: 9;
		position: relative;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
		position: sticky;
		top: 0;
		background-color: #fff;
		.container {
			@include flex;
			justify-content: space-between;
			align-items: center;
			padding-block: 1rem;
			position: relative;
			.site-logo {
				width: 200px;
				margin: 0;
				img {
					object-fit: contain;
					height: auto;
					width: 100%;
				}
			}
		}
	}
	.main-navigation {
		#primary-menu {
			display: flex!important;
			flex-wrap: wrap;
			ul {
				&.sub-menu {
					float: left;
					position: absolute;
					top: 100%;
					left: -999em;
					z-index: 99;
					min-width: 200px;
					width: fit-content;
					display: flex;
					flex-direction: column;
					background-color: #fff;
					padding: 10px 0;
					opacity: 0;
					transition: opacity .3s;
					filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
					padding-bottom: 1.5rem;
					li:not(:last-child) {
					a {
						margin-bottom: .5rem;
					}
					}
				}
			}
			> li {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				padding-block: 20px;
				&:not(.nav-btn)> a {
					position: relative;
					&:before {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						background-color: var(--color-1);
						bottom: -6px;
						opacity: 0;
						transition: var(--st);
					}
					&:hover {
						&::before {
							opacity: 1;
						}
					}
				}
				&:not(:last-child) {
					margin-right: 4rem;
				}
				&.current-menu-item:not(.ordering-link) {
					> a {
						font-weight: 700;
					}
					&.nav-btn {
						a {
							background-color: var(--color-1);
						}
					}
				}
				&.menu-item-has-children {
					a {
						padding-right: 5px;
						font-size: 14px;
						width: 100%;
						display: inline-flex;
						transition: .1s all;
					}
					li {
						display: flex;
						&:not(:last-child) {
							margin-bottom: 8px;
						}
						.sub-menu {
							position: absolute;
							right: auto;
							top: 0;
							left: -999999px;
						}
						a {
							font-size: 12px;
							padding-inline: 14px;
						}
						.sub-menu-trigger {
							transform: rotate(0);
							height: 15px;
							top: -5px;
							right: 5px
						}
						&:hover {
							> a {
								font-weight: 600;
								font-style: italic;
							}
							.sub-menu {
								left: 200px;
							}
							.sub-menu-trigger {
								transform: scaleX(-1);
							}
						}
					}
				}
				> a {
					font-size: 14px;
				}
				a {
					color: var(--t-color);
				}
				.sub-menu-trigger {
					position: relative;
					right: 0;
					transform: rotate(90deg);
					cursor: pointer;
					transition: var(--st);
					svg {
					stroke: #000;
					width: 16px;
					}
				}
			}
			> li:hover {
				.sub-menu-trigger{
					transform: rotate(270deg);
				}
				.sub-menu {
					opacity: 1;
					left: -2rem;
				}
			}
			.nav-btn {
				a {
					padding: 7px 13.5px;
					border: 1px solid #000;

				}
			}
		}
	}

}
