.practitioner_hero {
	h2.title-3 {
		margin-bottom: 3.3rem;
	}
}

.practitioner_hero_inner {
	display: flex;
	@include desk-min {
		> div {
			width: 50%;
		}
	}
	@include limbo-max {
		flex-direction: column;
	}
}
.ph_left {
	background-color: var(--color-1);
	padding-inline: var(--space-3);
	h1 {
		max-width: 712px;
		margin-inline: auto;
	}
	.ph_image_grid	{
		display: grid;
		height: 100%;
		max-width: 712px;
		margin-inline: auto;
		@include tab-max {
			grid-template-columns: 100%;
		}
		@include limbo-min {
			grid-template-columns: repeat(100, 1%);
			grid-template-rows: repeat(100, 1%);
		}
		.hover_box {
			z-index: 4;
			position: relative;
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			justify-content: flex-start;
			text-align: right;
			width: fit-content;
			@include mob-only {
				padding-inline: 20px;
			}
			&:hover {
				+ .ib_image {
					opacity: 1;
				}
				.box_title {
					border-color: #000;
					font-weight: 700;
				}
			}
			.box_title {
				margin-bottom: 4px;
				display: block;
				font-size: 16px;
				border-bottom: 4px dashed transparent;
				width: fit-content;
				transition: var(--st);
				font-weight: 500;
			}
			p {
				@include flex-col;
				margin: 0;
				font-size: 14px;
			}
			@include tab-max {
				padding-bottom: 0;
				align-items: flex-start;
				padding-top: 8px;
				.box_title {
					margin-bottom: 0;
					text-align: left;

				}
				p {
					font-size: 0;
					transition: var(--st);
					padding-bottom: 0;
					text-align: left;
				}
				&:hover {
					p {
						font-size: 16px;
						padding-top: 8px;
					}
				}
			}
			&:nth-of-type(1) {
				grid-column: 1 / 39;
				grid-row: 13 / 38;
				text-align: right;
				@include tab-max {
					grid-column: 1 / 2;
					grid-row: 2 / 3;
				}
			}
			&:nth-of-type(2) {
				grid-column: 8 / 40;
				grid-row: 45 / 65;
				@include tab-max {
					grid-column: 1 / 2;
					grid-row: 3 / 4;
				}
			}
			&:nth-of-type(3) {
				grid-column: 5 / 36;
				grid-row: 73 / 101;
				@include tab-max {
					grid-column: 1 / 2;
					grid-row: 4 / 5;
				}
			}
			&:nth-of-type(4) {
				grid-column: 68 / 101;
				grid-row: 15 / 45;
				text-align: left;
				align-items: flex-start;
				@include tab-max {
					grid-column: 1 / 2;
					grid-row: 5 / 6;
				}
			}
			&:nth-of-type(5) {
				grid-column: 68 / 101;
				grid-row: 45 / 80;
				text-align: left;
				align-items: flex-start;
				@include tab-max {
					grid-column: 1 / 2;
					grid-row: 6 / 7;
				}
			}
		}
		.ib_image {
			opacity: 0;
			z-index: 3;
			transition: var(--st);
		}
		.main_image {
			z-index: 2;
		}
		.ib_image, .main_image {
			object-fit: contain;
			@include limbo-min {
				grid-column: 36 / 82;
				grid-row: 1 / 101;
			}
			@include tab-max {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				padding-left: 16px;
			}
		}
	}
}

.ph_right {
	padding-inline: var(--space-1);
	ul {
		margin-bottom: 10px;
	}
	h4 {
		margin-bottom: 10px;
	}
	li {
		margin-bottom: 3.5px;
		&:before {
			content: "•";
			margin-inline: 10px;
		}
	}
}

.ph_right_inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	@include tab-max {
		grid-template-columns: 1fr;
	}
}

@mixin lg-width {
	max-width: calc(840px + var(--space-1) + 5vw);
}

.product_sec_2 {
	border-top: 2px solid #000;
	.product_sec_2_inner {
		@include flex-between;
		align-items: flex-start;
		@include tab-max {
			flex-direction: column;
		}
	}
	.sec_2_intro {
		@include flex-between;
		margin-bottom: calc(44px - 1em);
		max-width: 480px;
	}
	.ps2_inner_left {
		@include limbo-min {
			width: 49%;
		}
		.ps2_left_inner {
			li {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 5px;
			}
		}
		.sizing_table {
			.table_head, .table_row {
				@include flex;
				div {
					padding: 11px 20px;
					font-size: 14px;
					@include mob-only {
						padding: 10px;
					}
				}
			}
			.table_head {
				div {
					font-weight: 600;
				}
			}
			.table_row {
				&:nth-child(even) {
					background-color: #FBF5E4;
				}
			}
			.height {
				width: 20%;
			}
			.shoe_size {
				width: 20%;
			}
			.size {
				width: 20%;
			}
			.item {
				width: 20%;
			}
			.calf {
				width: 20%;
			}


			@include mob-only {
				.size {
					width: 35%;
				}
				.calf {
					width: 20%;
				}
				.height {
					width: 22.5%;
				}
				.shoe_size {
					width: 22.5%;
				}
			}
		}
		.table_disclaimer {
			padding-left: 16px;
			position: relative;
			margin-top: 27px;
			font-size: 14px;
			&::before {
				content: "*";
				left: 0;
				position: absolute;
			}
		}
	}
	.ps2_inner_right {
		@include limbo-min {
			width: 47%;
		}
		@include tab-max {
			padding-top: 0;
		}
		img {
			object-fit: contain;
		}
	}
}

.product_sec_3 { // Customization
	border-top: 2px solid #000;
	h2 {
		margin-bottom: var(--space-2);
	}
	.sec3_intro {
		@include flex-between;
		align-items: flex-start;
		.sec3_intro_text {
			@include limbo-min {
				width: 67.5%;
			}
		}
		.btn-2 {
			margin-top: 16px
		}
	}

	.sec3_info_boxes {
		@include flex-between;
		margin-top: var(--space-2);
		@include mob-only {
			flex-direction: column;
		}
		.info_box {
			@include limbo-min {
				width: 28%;
			}
			@include tab-only {
				width: 31%;
			}
			@include mob-only {
				&:not(:last-child) {
					margin-bottom: 29px;
				}
			}
			img {
				aspect-ratio: 400 / 266;
				height: auto;
				width: 100%;
				margin-bottom: 15px;
			}
			h4 {
				margin-bottom: 15px;
				font-weight: 600;
			}
			div {
				p {
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
}

.product_sec_4 { // Placement
	border-top: 2px solid #000;
	h2 {
		margin-bottom: 30px
	}
	.ps4_boxes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		counter-reset: section;
		gap: 4rem 7rem;
		@include limbo-max {
			grid-template-columns: repeat(2, 1fr);
		}
		@include mob-only {
			grid-template-columns: 1fr;
		}
		.ps4_box {
			max-width: 273px;
			@include tab-min {
				width: auto;
			}
			img {
				height: auto;
			}
			div {
				display: flex;
				margin-top: 15px;
				&::before {
					counter-increment: section;
					content: counter(section) ". ";
					margin-right: 5px;
					font-size: 14px;
					line-height: 18px;
				}
				p {
					margin: 0;
					font-size: 14px;
					line-height: 18px;
				}
			}
			@include mob-only {
				&:not(:last-child) {
					margin-bottom: 45px;
				}
			}
		}
	}
	.right {
		.ps4_boxes {
			margin-left: 0;
   			margin-right: auto;
		}
		h2 {
			width: 100%;
		}

		@include limbo-min {
			padding-left: 8.4rem;
			@include flex-col;
			align-items: flex-end;
		}
		@include tab-max {
			padding-top: 0;
		}
	}
}

.product_sec_4b {
	.product_sec_4b_inner {
		h2 {
			width: 100%;
			margin-bottom: 30px;
		}
		.instructions {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 8rem;
			@include limbo-max {
				grid-template-columns: repeat(2, 1fr);
			}
			@include mob-only {
				grid-template-columns: 1fr;
			}
			figure {
				@include limbo-min {
					height: 235px;
				}
				display: flex;
				align-items: center;
				img {
					max-width: 28rem;
					object-fit: contain;
					width: auto;
					height: auto;
					object-position: center;
				}
			}
			p {
				font-size: 14px;
			}
		}
	}
	.btn-1 {
		margin-top: var(--space-2);
	}
}

.product_sec_5 { // Patient Instruction
	border-top: 2px solid #000;
	.container {
		@include flex;
		align-items: flex-start;
		@include tab-max {
			flex-direction: column;
		}
		h2 {
			margin-bottom: 20px;
			width: 100%;
		}
		@include limbo-min {
			div {
				width: 50%;
				p {
					margin: 0;
				}
			}
			.btn-1 {
				margin-left: var(--space-1);
			}
		}
	}

}

.product_sec_6 { // Videos
	border-top: 2px solid #000;
	h2 {
		margin-bottom: 20px;
	}
	.product_videos_grid {
		@include flex-between;
		.product_video {
			@include limbo-min {
				width: 48%;
			}
			figure {
				aspect-ratio: 16 / 9;
				position: relative;
			}
			.play-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0%;
				@include flex-center;
			}
			.video_meta {
				@include flex-between;
			}
			@include tab-min {
				.video_description {
					width: calc(100% - 155px);
					p {
						margin-top: 11px;
					}
				}
				.video_run_time {
					width: 120px;
					flex-shrink: 0;
					p {
						margin-top: 11px;
					}
				}
			}
			@include mob-only {
				.video_description {
					p {
						margin-bottom: 0;
					}
				}
				.video_run_time {
					margin-bottom: 32px;
				}
			}
		}
	}
}

.product_sec_7 { // Optional Components
	border-top: 2px solid #000;
	h2 {
		margin-bottom: var(--space-2);
	}
	p {
		font-size: 14px;
	}
	.ps7_top {
		@include flex-between;
		@include limbo-min {
			> div {
				width: 48%;
			}
		}
		.ps7_top_left {
			@include flex-between;
			@include mob-only {
				flex-direction: column;
			}
			@include tab-max {
				margin-bottom: var(--space-3);
			}
			.left {
				@include tab-min {
					width: 160px;
				}
				.sec6_img_1 {
					width: auto;
					height: auto;
					@include tab-min {
						max-width: calc(100% - 3rem);
					}
				}
			}
			.right {
				@include tab-min {
					width: calc(100% - 190px);
				}
			}
		}
		.ps7_top_right {
			@include flex-between;
			@include mob-only {
				flex-direction: column;
			}
			> div {
				@include tab-min {
					width: 48%;
				}
				img {
					object-fit: contain;
					height: auto
				}
				.caption {
					font-size: 14px
				}
			}
		}
	}
	.ps7_bottom {
		@include flex-between;
		margin-top: var(--space-1);
		@include limbo-min {
			> div {
				width: 48%;
			}
		}
		.ps7_right_row {
			@include flex-between;
			margin-bottom: var(--space-2);
			@include tab-min {
				&:nth-child(odd) {
					.left {
						width: 160px;
					}
					.right {
						width: calc(100% - 190px);
					}
				}
				&:nth-child(even) {
					flex-direction: row-reverse;
					.left {
						width: 256px;
					}
					.right {
						width: calc(100% - 276px);
					}
				}
			}


			.left {
				.image {
					width: auto;
					height: auto;
					@include tab-min {
						max-width: calc(100% - 3rem);
					}
				}
			}

		}
	}
}
